<%- include('parts/dash-head', {title:'Dashboard'}); %>

<body id="page-top">
    <div id="wrapper">

        <%- include('parts/nav-wrapper') %>

        <div class="d-flex flex-column mb-4" id="content-wrapper">
            <div id="content">

                <%- include('parts/nav-content', { user } ) %>

                <div class="container-fluid mb-4">

                    <% cotacoes.forEach( cotacao => {%>
                    <div class="card border-white border rounded shadow-lg mb-4" data-bs-hover-animate="pulse"
                        style="background-color: #07beb8;color: rgb(255,255,255);">
                        <div class="card-body" style="width: 252px;height: 163px;padding: 0px;margin: 10px;">
                            <h4 class="card-title" style="margin-top: 5px;"><img src="assets/img/imgbox-dark.png"
                                    style="height: 40px;">&nbsp;Cotação A&nbsp;</h4>
                            <h6 class="text-muted card-subtitle mb-2"
                                style="margin-top: 0px;color: rgb(255,255,255);filter: blur(0px) brightness(200%) saturate(200%);">
                                5 itens</h6>
                            <p class="card-text" style="width: 252px;margin-top: 15px;margin-bottom: 20px;">Responsável:
                                <%- user.nome %><br><br>Prazo: 20/08/2020</p>
                            <div class="btn-group" role="group"></div>
                        </div>
                    </div>
                    <% }); %>

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Projeto Orca - Digital House</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>