<%- include('parts/dash-head', {title:'Orca', page: 'home', id: user.id}); %>

<div class="main_container">

  <section class="home-bg">
    <div class="home">
      <div class="home-info">
        <h1>Home</h1>
        <p>Você está logado no sistema. Agora tem acesso ao seu perfil, cadastro de empresas e cotações</p>
      </div>

      <div class="home-img">
        <img src=/img/home.svg alt="home-site" />
      </div>

    </div>
  </section>

</div>

<%- include('parts/foot'); %>