<%- include('parts/head', {title:'Empresas', page: 'home'}); %>

<div class="main_container">

  <h5> Empresas </h5>

  <section class="home-bg">
    <div class="home">
      <div class="row">
        <% data.forEach(e => { %>

        <div class="col s11 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/img/sem-logo.png" style="padding: 20px;">
            </div>
            <div class="card-content">
              <span class="activator grey-text text-darken-2"><%= e.nome %>
                <!-- <i class="material-icons right">more_vert</i> -->
              </span>
              <!-- <p><a href="#">This is a link</a></p> -->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Atividades
                <i class="material-icons right">close</i>
              </span>
              <% e.atividade.forEach(ativ => { %>
              <p> <%= ativ.text %> </p> <br>
              <% }); %>
            </div>
          </div>
        </div>

        <% }); %>

      </div>

      <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>

    </div>
  </section>

</div>

<%- include('parts/foot'); %>