<%- include('parts/head', {title:'Orca', page: 'home'}); %>

<div class="main_container">

  <section class="home-bg">
    <div class="home">
      <div class="home-info">
        <h1>Home</h1>
        <p>Realizar uma boa Gestão Orçamentária é um processo essencial para o sucesso e estabilidade de qualquer
          empresa no mercado. Orca é um sistema web que organiza e automatiza suas cotações, podendo ser acessado por
          qualquer dispositivo conectado à internet.</p>

      </div>

      <div class="home-img">
        <img src=img/home.svg alt="home-site" />
      </div>

    </div>
  </section>

</div>

<%- include('parts/foot'); %>