<%- include('parts/head', {title:'Login', page: 'login'}); %>

<div class="main_container">
  <section class="home-bg">
    <div class="home">
      <div class="bloco">
        <div class="login-info">
          <h1>Login</h1>
          <p>Entre com seu e-mail e senha e seja feliz!</p>
          <a class="back-link" href="/register">
            Não tenho Login!?
          </a>
        </div>

        <div class="login-form">
          <div class="row">
            <div class="col s12 pulse">
              <span <%=display%> class="new badge red pul" data-badge-caption="" style="top: 10px"><%- err %></span>
            </div>
          </div>

          <form action="/usuarios/login" method="POST" class="col s12" style="top: 10px;">

            <div class="input-field col s6">
              <input id="email" type="email" name="email" class="validate" required>
              <label for="email" style="left: 0;">Digite seu melhor e-mail</label>
            </div>

            <div class="input-field col s6" style="top: 10px;">
              <input id="senha" type="password" name="senha" class="validate" required>
              <label for="email" style="left: 0;">Digite sua senha</label>
            </div>

            <button class="button" type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>

<%- include('parts/foot'); %>