<%- include('parts/head', {title:'Titulo da Home', page: 'logon'}); %>

<div class="main_container">

  <h1><%= msg %></h1>

  <section class="home-bg">
    <div class="home">
      <div class="home-info">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolores sit quis voluptatibus aut dolorem ea
          nemo! Doloremque itaque numquam, vel porro unde dolor? Aut aspernatur accusantium dolor eveniet tenetur!</p>

      </div>

      <div class="home-img">
        <img src=img/home.svg alt="home-site" />
      </div>

    </div>
  </section>

</div>

<%- include('parts/foot'); %>