<%- include('parts/head', {title:'Logon', page: 'logon'}); %>

<div class="main_container">

  <!-- <h1 style="text-align: center;"><%= msg %></h1> -->
  <section class="home-bg">
    <div class="home">
      <!-- <div class="main_container"> -->
      <!-- <section class="logon-bg"> -->
      <div class="bloco">
        <div class="logon-info">
          <h1>Logon</h1>
          <p>Entre com seu e-mail e senha e seja feliz!</p>
          <a class="back-link" href="/register">
            <!-- <Link class="back-link" to="/register"> -->
            <!-- <FiArrowLeft size={16} color="#07beb8" /> -->
            Não tenho Login!?
            <!-- </Link> -->
          </a>
        </div>

        <div class="logon-form">
          <form action="/usuarios/login" method="POST">

            <input type="email" name="email" id="email" placeholder="Digite seu melhor e-mail" />

            <input type="password" name="senha" id="senha" placeholder="Digite sua senha" />


            <!-- <Link class='back-link' to='/dashboard/'> -->
            <button class="button" type="submit">Enviar</button>
            <!-- </Link> -->

          </form>
        </div>
      </div>
      <!-- </section> -->
      <!-- </div> -->
    </div>
  </section>

</div>

<%- include('parts/foot'); %>