<form action="/empresas/cadastrar/<%-id>" method="POST">
    <label for="cadastro-cnpj">Digite o teu CNPJ</label>
    <input type="number" name="cadastro-cnpj" id="cadastro-cnpj" class="">
    <button type="submit">Cadastrar</button>
</form>