<form action="" method="post">
    <input type="hidden" name="cpf" value="<-% cpf %>">
    
    <label for="produto">Selcione um produto desejado</label>
    <input type="hidden" name="produto" value="<-% cpf %>">
    
    <label for="cpf"></label>
    <input type="hidden" name="descricao" value="<-% %>">
</form>