<form action="" method="post">
    <input type="hidden" name="cpf" value="<-% cpf %>">

    <label for="produto">Selecione um produto desejado</label>
    <input type="" name="produto" id="produto" value="<-% cpf %>">

    <label for="descricao">Coloque a descricao desejada</label>
    <input type="text" name="descricao" id="descricao">
</form>