<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/<%= page %>.css">
</head>

<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="/" class="nav-link">
                    <span class="link-text logo-text">
                        <img src="/img/logo-site.png" alt="home-site" width='130' />
                    </span>
                    <i class="material-icons md-48">arrow_forward</i>
                </a>
            </li>

            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="material-icons md-48">home</i>
                    <span class="link-text">Home</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/cotacoes" class="nav-link">
                    <i class="material-icons md-48">shopping_cart</i>
                    <span class="link-text">Cotações</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/empresas" class="nav-link">
                    <i class="material-icons md-48">store</i>
                    <span class="link-text">Empresas</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/login" class="nav-link">
                    <i class="material-icons md-48">meeting_room</i>
                    <span class="link-text">Login</span>
                </a>
            </li>
        </ul>
    </nav>

    <header class="row">
        <nav class="col s12" style="background-color: var(--azul-escuro); height: 5rem;">
            <div class="nav-wrapper">
                <ul class="col s2 right">
                    <!-- <li><a href="sass.html"></a><i class="material-icons left">search</i>Buscar</a></li> -->
                    <li><a href="/usuarios/<%= id %>">
                            <i class="material-icons right hide-on-med-and-down">view_module</i>Perfil
                        </a>
                    </li>
                </ul>
                <form class="col s8 offset-s2" style="background-color: var(--azul-escuro); height: 4rem;">
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </header>