<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0 toggled"
    style="background-color: rgb(64,71,109);">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div><img src="assets/img/logo-site.png" style="height: 50px;"></div>
            <div class="sidebar-brand-text mx-3"><span>Orca</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="/me"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href=""><i class="material-icons">bookmark</i><span>Histórico</span></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href=<% "historico"%>>
                    <i class="fas fa-table"></i><span>Fornecedores</span></a>
            </li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn" id="sidebarToggle" type="button"
                style="box-shadow: 0 0 0 .2rem rgba(78,115,223,0);background-color: rgba(54,50,50,0);text-align: center;"></button>
        </div>
    </div>
</nav>